<html>
<head>
  <title>Quiz</title>
</head>
<body>
  <h1><%= quiz.Titre %></h1>
  <form action="/submit-answer" method="post">
    <input type="hidden" name="currentQuestionIndex" value="<%= currentQuestionIndex %>">
    <h2><%= quiz.questions[currentQuestionIndex].question %></h2>
    <% for (let i = 0; i < quiz.questions[currentQuestionIndex].options.length; i++) { %>
      <input type="radio" name="answer" value="<%= i %>">
      <%= quiz.questions[currentQuestionIndex].options[i] %><br>
    <% } %>
    <% if (currentQuestionIndex < 9) { %>
      <button type="submit" onclick="updateFormAction('submit')">Next</button>
    <% } %>
  </form>
  <form action="/submit-quiz" method="post">
    <% if (currentQuestionIndex == 9) { %>
      <button type="submit">Submit</button>
    <% } %>
  </form>
</body>
</html>